:root {
  --background-1: #111827;
  --background-2: #020617;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  min-height: 200vh;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: -webkit-sticky; /* สำหรับ Safari */
  position: sticky;
  top: 0;
  z-index: 999;
}

/*NAVBAR SECTION*/
nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-2);
  width: 100%;
  height: 6rem;
  padding: 2rem 10rem;
}

nav .text-logo {
  color: #ffff;
  font-size: 1.5rem;
}
nav .text-logo span {
  color: orange;
}

nav .nav-items-container {
  list-style: none;
  display: flex;
}

nav .nav-items-container .nav-items {
  margin-right: 3rem;
  font-size: 1.5rem;
  text-decoration: none;
}
nav .nav-items-container .nav-items a {
  color: #9ca3af;
  position: relative;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s, background-color 0.3s;
}

nav .nav-items-container .nav-items a:hover {
  color: #ffffff;
  background-color: #333333;
}

/*HERO SECTION*/

.hero-section {
  height: 100vh;
  width: 100%;
  background-color: var(--background-1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-content {
  display: flex;
}

/*LEFT HERO*/
.hero-section .hero-content .left-hero {
  margin-right: 10rem;
}
.hero-section .hero-content .left-hero h2 {
  color: #eab308;
  font-size: 2rem;
}

.hero-section .hero-content .left-hero h1 {
  color: #eeee;
  font-size: 5rem;
}

.hero-section .hero-content .left-hero p {
  color: #737883;
  letter-spacing: 0.009rem;
  font-size: 1.5rem;
}

/*RIGHT HERO*/

.hero-section .hero-content .right-hero img {
  width: 32.5rem;
  height: 32.5rem;
  border-radius: 2.5rem;
}

/*ABOUT ME SECTION*/

.aboutme {
  background-color: var(--background-2);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container.aboutme-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.aboutme-container .aboutme-img {
  position: relative;
  width: 32.5rem;
  height: 32.5rem;
}

.aboutme-container .aboutme-img .image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.aboutme-container .aboutme-img .image-wrapper::before {
  content: "";
  position: absolute;
  top: 3rem;
  left: -3rem;
  width: 100%;
  height: 100%;
  border: solid 1.5rem #eab308;
  border-radius: 2.5rem;
  box-sizing: border-box;
  z-index: 0;
}

.aboutme-container .aboutme-img img {
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  display: block;
  z-index: 50;
}

.aboutme-container .aboutme-desc h2 {
  color: #eeee;
  padding-bottom: 1rem;
}
.aboutme-container .aboutme-desc span {
  color: #eab308;
}
.aboutme-container .aboutme-desc p {
  color: white;
  padding-bottom: 5rem;
}

.aboutme .btn-contact {
  padding: 1rem 1.5rem;
  background-color: #eab308;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.aboutme .btn-contact:hover {
  transform: translateY(-0.5rem);
  color: #000000;
}
.aboutme .container.aboutme-container .aboutme-desc {
  padding: 0 0 0 12rem;
}
.aboutme .container.aboutme-container .aboutme-desc h2 {
  font-size: 4rem;
}

.aboutme .container.aboutme-container .aboutme-desc P {
  font-size: 1.5rem;
  color: #737883;
}

/*MY SERVICES SECTION*/

.myservice {
  width: 100%;
  height: 100vh;
  background-color: var(--background-1);
  display: flex;
  align-items: center;
}
.myservice .myservices {
  gap: 3rem;
}

.myservice .myservices .card {
  background-color: rgb(255, 255, 255);
  padding: 7rem 1rem;
  border-radius: 1.2rem;
}

.myservice .container.myservice-container .myservice-h h2 {
  color: #eab308;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.myservice .container.myservice-container .myservice-h p {
  color: #66696e;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.myservice .container.myservice-container .myservices {
  display: flex;
  text-align: center;
  width: 100%;
}

.myservice .container.myservice-container .myservices .card h3 {
  font-size: 2rem;
}

.myservice .container.myservice-container .myservices .card p {
  margin-top: 1rem;
  color: #6f7279;
}

/*LOGOS*/

.myservice .container.myservice-container .myservices .logo-services {
  width: 8rem;
  height: 8rem;
}

/*PORTFOLIO SECTION*/

.portfolio {
  width: 100%;
  height: auto;
  background-color: var(--background-2);
  padding-bottom: 10rem;
}

.portfolio .container.portfolio-container .port-header h2 {
  font-size: 4.5rem;
  text-align: center;
  color: #ffffff;
  padding-top: 10rem;
}

.portfolio .container.portfolio-container .port-header span {
  color: #eab308;
}
.portfolio .container.portfolio-container .projects {
  padding-top: 6rem;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: auto;
}

.portfolio .container.portfolio-container .projects .box {
  background-color: #151d32;
  width: 32rem;
  height: 32rem;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 2rem;
  transition: box-shadow 0.3s, transform 0.2s;
  cursor: pointer;
}

.portfolio .container.portfolio-container .projects .box:hover {
  box-shadow: 0.4rem 0.5rem #eab308;
  transform: translateY(-1rem);
}

.portfolio .container.portfolio-container .projects .box {
  width: 20rem;
}

.portfolio .container.portfolio-container .projects h5 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #eeee;
}

.portfolio .container.portfolio-container .projects img {
  width: 15rem;
  height: 15rem;
  border-radius: 2.5rem;
}

.portfolio .container.portfolio-container .projects p {
  font-size: 1.5rem;
  color: #ffffff;
  padding: auto;
}

/*CONTACT SECTION*/

.contact {
  width: 100%;
  height: 100vh;
  background-color: var(--background-1);
}

.contact .container.contact-container .contact-header {
  padding-top: 7rem;
  text-align: center;
}

.contact .container.contact-container .contact-header h2 {
  font-size: 4.5rem;
  text-align: center;
  color: #ffffff;
}

.contact .container.contact-container .contact-header span {
  color: #eab308;
}

.contact .container.contact-container .contact-header p {
  font-size: 2rem;
  color: #ffffff;
  padding-top: 0.8rem;
}

.container.contact-container .form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  align-items: flex-start;
}

.container.contact-container .form-container .left-contact {
  font-size: 2rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.container.contact-container .form-container .left-contact p {
  padding-bottom: 2rem;
}
.container.contact-container .form-container .left-contact span {
  color: #eab308;
}

/*RIGHT CONTACT*/
.container.contact-container .form-container .right-contact {
  width: 50%;
}

.container.contact-container .form-container .right-contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container.contact-container .form-container .right-contact input {
  padding: 1.2rem 1rem;
  background-color: #1f2937;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  width: 100%;
}

.container.contact-container .form-container .right-contact textarea {
  background-color: #1f2937;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  width: 100%;
  padding: 2rem 1rem;
  height: 30rem; 
}

.container.contact-container .form-container .right-contact button {
  padding: 0.8rem 1rem;
  background-color: #eab308;
  border: none;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.container.contact-container .form-container .right-contact button:hover {
  background-color: #d4a308;
}

/*FOOTER*/
footer {
  width: 100%;
  height: 30vh;
  background-color: var(--background-2);
}
footer .container.social-container .text-footer h2 {
  padding-top: 3rem;
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}

footer .container.social-container .text-footer p {
  color: #eeee;
  text-align: center;
}
footer .container.social-container .social-logos .social-items {
  display: flex;
  justify-content: center;
}

footer .container.social-container .social-logos .social-items a .fa-brands {
  margin: 3rem 2rem 0 0;
  font-size: 4rem;
  transition: color 0.3s;
}

footer .container.social-container .social-logos .social-items a .fa-brands:hover {
  color: #d4a308;
}


/*RESPONSIVE*/

/* มือถือ */
@media (max-width: 480px) {
  
}

/* แท็บเล็ต */
@media (min-width: 481px) and (max-width: 1024px) {
  
}

/* คอมพิวเตอร์โน้ตบุ๊ก */
@media (min-width: 1025px) and (max-width: 1280px) {
  
}

/* คอมพิวเตอร์ตั้งโต๊ะ */
@media (min-width: 1281px) {
  
}
