:root {
  --background-1: #111827;
  --background-2: #020617;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 15px;
}

/*NAVBAR SECTION*/

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-2);
  width: 100%;
  height: 6rem;
  padding: 2rem 10rem;
}

nav .text-logo {
  color: #ffff;
  font-size: 1.5rem;
}
nav .text-logo span {
  color: orange;
}

nav .nav-items-container {
  list-style: none;
  display: flex;
}

nav .nav-items-container .nav-items {
  margin-right: 3rem;
  font-size: 1.5rem;
  text-decoration: none;
}
nav .nav-items-container .nav-items a {
  color: #9ca3af;
  position: relative;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s, background-color 0.3s;
}

nav .nav-items-container .nav-items a:hover {
  color: #ffffff;
  background-color: #333333;
}

/*HERO SECTION*/

.hero-section {
  height: 100vh;
  width: 100%;
  background-color: var(--background-1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-content {
  display: flex;
}

/*LEFT HERO*/
.hero-section .hero-content .left-hero {
  margin-right: 10rem;
}
.hero-section .hero-content .left-hero h2 {
  color: #eab308;
  font-size: 2rem;
}

.hero-section .hero-content .left-hero h1 {
  color: #eeee;
  font-size: 5rem;
}

.hero-section .hero-content .left-hero p {
  color: #737883;
  letter-spacing: 0.009rem;
  font-size: 1.5rem;
}

/*RIGHT HERO*/

.hero-section .hero-content .right-hero img {
  width: 32.5rem;
  height: 32.5rem;
  border-radius: 2.5rem;
}

/*ABOUT ME SECTION*/

.aboutme {
  background-color: var(--background-2);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container.aboutme-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.aboutme-container .aboutme-img {
  position: relative;
  width: 32.5rem;
  height: 32.5rem;
}

.aboutme-container .aboutme-img .image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.aboutme-container .aboutme-img .image-wrapper::before {
  content: "";
  position: absolute;
  top: 3rem;
  left: -3rem;
  width: 100%;
  height: 100%;
  border: solid 1.5rem #eab308;
  border-radius: 2.5rem;
  box-sizing: border-box;
  z-index: 0;
}

.aboutme-container .aboutme-img img {
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  display: block;
  z-index: 50;
}

.aboutme-container .aboutme-desc h2 {
  color: #eeee;
  padding-bottom: 1rem;
}
.aboutme-container .aboutme-desc span {
  color: #eab308;
}
.aboutme-container .aboutme-desc p {
  color: white;
  padding-bottom: 5rem;
}

.aboutme .btn-contact {
  padding: 1rem 1.5rem;
  background-color: #eab308;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.aboutme .btn-contact:hover {
  transform: translateY(-0.5rem);
  color: #000000;
}
.aboutme .container.aboutme-container .aboutme-desc {
  padding: 0 0 0 12rem;
}
.aboutme .container.aboutme-container .aboutme-desc h2 {
  font-size: 4rem;
}

.aboutme .container.aboutme-container .aboutme-desc P {
  font-size: 1.5rem;
  color: #737883;
}

/*MY SERVICES SECTION*/

.myservice {
  width: 100%;
  height: 100vh;
  background-color: var(--background-1);
  display: flex;
  align-items: center;
}
.myservice .myservices {
  gap: 3rem;
}

.myservice .myservices .card {
  background-color: rgb(255, 255, 255);
  padding: 7rem 1rem;
  border-radius: 1.2rem;
}

.myservice .container.myservice-container .myservice-h h2 {
  color: #eab308;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.myservice .container.myservice-container .myservice-h p {
  color: #66696e;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.myservice .container.myservice-container .myservices {
  display: flex;
  text-align: center;
  width: 100%;
}

.myservice .container.myservice-container .myservices .card h3 {
  font-size: 2rem;
}

.myservice .container.myservice-container .myservices .card p {
  margin-top: 1rem;
  color: #6f7279;
}

/*LOGOS*/

.myservice .container.myservice-container .myservices .logo-services {
  width: 8rem;
  height: 8rem;
}

/*PORTFOLIO SECTION*/

.portfolio {
  width: 100%;
  height: 100vh;
  background-color: var(--background-2);
}

.portfolio .container.portfolio-container .port-header h2 {
  font-size: 4.5rem;
  text-align: center;
  color: #ffffff;
  padding-top: 10rem;
}

.portfolio .container.portfolio-container .port-header span {
  color: #eab308;
}
.portfolio .container.portfolio-container .projects {
  padding-top: 6rem;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.portfolio .container.portfolio-container .projects .box {
  background-color: #151d32;
  width: 27rem;
  height: 27rem;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 2rem;
  transition: box-shadow 0.3s, transform 0.2s, font-weight 0.1s,color 0.3s;
  cursor: pointer;
}

.portfolio .container.portfolio-container .projects .box:hover {
  box-shadow: 0.5rem 0.3rem #afafae;
  transform: translateY(-1rem);
  color: #eab308;
}

.portfolio .container.portfolio-container .projects img {
  width: 15rem;
  height: 15rem;
  border-radius: 2.5rem;
}
.portfolio .container.portfolio-container .projects .box {
  width: 20rem;
}
.portfolio .container.portfolio-container .projects p {
  font-size: 1.5rem;
  color: #ffffff;
}
